<html>
  <head>
    <meta charset="utf-8" />
    <title>A simple, clean, and responsive HTML invoice template</title>
    {{> reset}}
    {{> invoiceStyle}}

  </head>

  <body id="dr-body">
    {{> dr-invoice-body}}
  </body>
</html>
